<!DOCTYPE html>



<html xmlns:th="http://www.thymeleaf.org"
	th:replace="fragments/layout :: layout(~{::title}, ~{::link}, ~{::section}, ~{::script},'payments')">


<head>

<title>Payment</title>

<!-- Select2 -->
<link rel="stylesheet"
	th:href="@{assets/plugins/select2/css/select2.min.css}" />
<link rel="stylesheet"
	th:href="@{assets/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css}" />

</head>


<body class="hold-transition sidebar-mini layout-navbar-fixed">

<!-- Main content -->
	<section class="content">
		<div class="container-fluid">
			<div class="row">
				<!-- left column -->
				<div class="col-md-12">
					<!-- jquery validation -->
					<div class="card card-primary">
						<div class="card-header">
							<h3 class="card-title">
								Payment <small>Form</small>
							</h3>
						</div>
						<!-- /.card-header -->
						<!-- form start -->
						<form role="form" th:action="@{/save-payment}"
							th:object="${payment}" method="POST">

							<div class="card-body">
							
								<div class="form-group">
								<!-- Add hidden form field to handle update -->
								<input type="hidden" th:field="*{id}" />
							</div>
							
								<div class="form-group">
									<label for="grade-select-input">Student</label>
									<div class="input-group">
										<select class="select2" th:field=*{academic} style="width: 100%;">
											<option th:each="academic:${academic}"
										th:value="${academic.id}"
										th:text="${academic.student.fullName}"></option>
										</select>
									</div>
								</div>
								
								
								<div class="form-group">
									<label for="name-text-input">Amount</label> <input
										type="text" class="form-control" placeholder="Enter the paid amount"
										th:field="*{amount}">
								</div>
								
									<div class="form-group">
									<label for="name-text-input">Pay Date</label> <input
										type="date" class="form-control" th:field="*{payDate}">
								</div>

								<div class="form-group">
									<label for="name-text-input">Bill No</label> <input
										type="text" class="form-control" placeholder="Enter the bill number"
										th:field="*{billNo}">
								</div>
								
								<div class="form-group">
									<label for="name-text-input">Reference</label> 
									<textarea class="form-control" rows="5"
										placeholder="Enter the reference" th:field="*{reference}"></textarea>
								</div>
							



							</div>
							<!-- /.card-body -->
							<div class="card-footer">
								<button type="submit" class="btn btn-primary">Submit</button>
							</div>
						</form>
					</div>
					<!-- /.card -->
				</div>
				<!--/.col (left) -->
				<!-- right column -->
				<div class="col-md-6"></div>
				<!--/.col (right) -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container-fluid -->
	</section>
	<!-- /.content -->
	
	
		<!-- Select2 -->
	<script th:src="@{assets/plugins/select2/js/select2.full.min.js}"></script>

	<!-- InputMask -->
	<script th:src="@{assets/plugins/moment/moment.min.js}"></script>
	<script
		th:src="@{assets/plugins/inputmask/min/jquery.inputmask.bundle.min.js}"></script>


	<script>
		$(function() {
			//Initialize Select2 Elements
			$(".select2").select2();

			$("[data-mask]").inputmask();
		});
	</script>




</body>

</html>