<!DOCTYPE html>



<html xmlns:th="http://www.thymeleaf.org"
	th:replace="fragments/layout :: layout(~{::title}, ~{::link}, ~{::section}, ~{::script},'students')">

<head>

<title>Students</title>

<!-- Select2 -->
<link rel="stylesheet"
	th:href="@{assets/plugins/select2/css/select2.min.css}" />
<link rel="stylesheet"
	th:href="@{assets/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css}" />
</head>


<body class="hold-transition sidebar-mini layout-navbar-fixed">

	<!-- Main content -->
	<section class="content">
		<div class="container-fluid">
			<div class="row">
				<!-- left column -->
				<div class="col-md-12">
					<!-- jquery validation -->
					<div class="card card-primary">
						<div class="card-header">
							<h3 class="card-title">
								Student <small>Form</small>
							</h3>
						</div>
						<!-- /.card-header -->
						<!-- form start -->
						<form role="form" th:action="@{/save-student}"
							th:object="${academic}" method="POST">

							<div class="card-body">

								<div class="form-group">
									<!-- Add hidden form field to handle update -->
									<input type="hidden" th:field="*{id}" />
								</div>

								<div class="form-group">
									<label for="name-text-input">Full Name</label> <input
										type="text" oninput="this.value=this.value.toUpperCase();"
										class="form-control" placeholder="Student Name"
										th:field="*{student.fullName}">
								</div>

								<div class="form-group">
									<label for="grade-select-input">Grade</label>
									<div class="input-group">
										<select class="select2" th:field=*{grade} style="width: 100%;">
											<option value="">Choose...</option>
											<option th:each="grade:${gradeList}" th:value="${grade.id}"
												th:text="${grade.title}"></option>
										</select>
									</div>
								</div>

								<!-- radio -->
								<div class="form-group">
									<div class="custom-control custom-radio">
										<input class="custom-control-input" type="radio"
											id="customRadio1" name="customRadio" value="NEW"
											th:field=*{category}> <label for="customRadio1"
											class="custom-control-label">New</label>
									</div>
									<div class="custom-control custom-radio">
										<input class="custom-control-input" type="radio"
											id="customRadio2" name="customRadio" value="MATRIC"
											th:field=*{category}> <label for="customRadio2"
											class="custom-control-label">Matric</label>
									</div>
									<div class="custom-control custom-radio">
										<input class="custom-control-input" type="radio"
											id="customRadio3" name="customRadio" value="PROMOTED"
											th:field=*{category}> <label for="customRadio3"
											class="custom-control-label">Promoted</label>
									</div>
								</div>


							</div>
							<!-- /.card-body -->
							<div class="card-footer">
								<button type="submit" class="btn btn-primary">Submit</button>
							</div>
						</form>
					</div>
					<!-- /.card -->
				</div>
				<!--/.col (left) -->
				<!-- right column -->
				<div class="col-md-6"></div>
				<!--/.col (right) -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container-fluid -->
	</section>
	<!-- /.content -->


	<!-- Select2 -->
	<script th:src="@{assets/plugins/select2/js/select2.full.min.js}"></script>

	<!-- InputMask -->
	<script th:src="@{assets/plugins/moment/moment.min.js}"></script>
	<script
		th:src="@{assets/plugins/inputmask/min/jquery.inputmask.bundle.min.js}"></script>


	<script>
		$(function() {
			//Initialize Select2 Elements
			$(".select2").select2();

			$("[data-mask]").inputmask();
		});
	</script>

</body>

</html>